/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.icon {
   font-family: 'icomoon';
}


/* height */
.h-half{height: 50%}
.h-full{height: 100%}
.h-empty{height: 0%}
.h-tird{height: 33%}

/* width */
.w-half{width: 50%}
.w-full{width: 100%}
.w-empty{width: 0%}
.w-tird{width: 33%}
.w-quarter{width: 25%}

/* backgrounds */
.bg-red{background: #ee3344;}
.bg-white{background: #ffffff;}
.bg-gray-light{background: #eeeeee;}
.bg-gray{background-color: #aaaaaa;}
.bg-gray-dark{background: #777777;}
.bg-green{background-color: #00bb88;}

/* font-weight  */
.font-weight-thin{font-weight: 100;}
.font-weight-thin{font-weight: 100;}

.font-weight-light{font-weight: 200;}

/* font-size */
.t-sm{font-size: 12;}
.t-md{font-size: 16;}
.t-lg{font-size: 20;}
.t-10{font-size: 10;}
.t-8{font-size: 8;}
.t-14{font-size: 14;}
.t-22{font-size: 22;}
.t-24{font-size: 24;}
.t-26{font-size: 26;}
.t-28{font-size: 28;}
.t-30{font-size: 30;}
.t-32{font-size: 32;}

/* utilities */
.hide-action-bar{height: 0;}


/*  rounded */
.rounded-sm {border-radius: 4;}
.rounded-md {border-radius: 10;}
.rounded-lg {border-radius: 20;}


/* color */
.white{color:#fff;}
.black{color:#000000;}
.gray{color: #aaa;}
.red{color:#ee3344;}
.green{color:#00bb88;}

/* card styles */
.card-title{
    font-size: 60;
}

/* border */
.border-no{border-color: transparent; border-width: 1;}
.border{border-color: #000; border-width: 1;}
.border-b{border-bottom-width: 1; border-color: #000000;}
.border-l{border-left-width: 1; border-color: #000000;}
.border-r{border-right-width: 1; border-color: #000000;}
.border-t{border-top-width: 1; border-color: #000000;}
.border-radius-sm{border-radius: 4;}
.border-radius-md{border-radius: 10;}
.border-radius-lg{border-radius: 20;}

/* backgrounds icons */
.bg-icon{
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-l{
    background-position: left;
}

.bg-r{
    background-position: right;
}

.bg-c{
    background-position: center;
}

.bg-plus-cliente{
background-image: url("~/assets/images/icon/64/cadastro_cliente.png");
}

.bg-plus{
background-image: url("~/assets/images/icon/128/plus.png");
}

.bg-less{
background-image: url("~/assets/images/icon/128/less.png");
}

.bg-check{
background-image: url("~/assets/images/icon/128/check.png");
}

.bg-camera1{
background-image: url("~/assets/images/icon/128/camera1.png");
}

.bg-camera2{
background-image: url("~/assets/images/icon/128/camera2.png");
}

.bg-print1{
background-image: url("~/assets/images/icon/128/print1.png");
}

.bg-print2{
background-image: url("~/assets/images/icon/128/print2.png");
}

/* padding */
.p-x-30{padding-left: 30; padding-right: 30;}